.left-form {
  overflow: hidden;
  margin-bottom: 20px;
  height: 600px;
}
.left-form > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  overflow: hidden;
}
.left-form > img:hover {
  transform: scale(1.1) rotate(-5deg);
  -webkit-transform: scale(1.1) rotate(-5deg);
  -moz-transform: scale(1.1) rotate(-5deg);
  -ms-transform: scale(1.1) rotate(-5deg);
  -o-transform: scale(1.1) rotate(-5deg);
}
@media screen and (max-width: 767px) {
  .left-form {
    height: 400px;
  }
}
@media screen and (max-width: 450px) {
  .left-form {
    height: 280px;
  }
}
